In [20]:
import math 
import pandas as pd
import numpy as np
import pandas as pd
import io
import requests
from geopy.distance import geodesic

In [23]:
def get_complete_data(location, radius=2000):
    overpass_url = 'https://z.overpass-api.de/api/interpreter'

    overpass_query = f"""
    [out:csv(
        ::id, amenity, shop, office, highway, public_transport, tourism, sport,name, ::lat, ::lon, 'contact:phone','contact:website', 'addr:city','addr:street','addr:housenumber',
        'addr:postcode', 'addr:suburb', 'addr:country'
      )];
    (node(around:{radius},{location[0]},{location[1]});
    );
    out center;
    """
    response = requests.get(overpass_url,
                            params={'data': overpass_query})
    r=response.content

    rawData = pd.read_csv(io.StringIO(r.decode('utf-8')), delimiter='\t')
    return rawData

In [24]:
def column_selection(location,column_name):
    df=get_complete_data(location)
    list_columns=[ "shop", "office", "highway", "public_transport", "tourism", "amenity", "sport"]
    list_address=['name','addr:street','addr:housenumber','addr:suburb','addr:city','addr:postcode',
                  'addr:country','contact:phone','contact:website']
    df_amenity= df.dropna(subset=[column_name, 'name'])
    df_amenity.rename(columns={"@lon":"lon", "@lat":"lat"}, inplace=True)
    list_columns.remove(column_name)
    df_amenity.drop(columns=list_columns, inplace=True)
    df_amenity.fillna(" ",inplace=True)
    df_amenity["address"]=df_amenity[list_address].astype(str).apply(",".join, axis=1)
    df_amenity["address"]=df_amenity["address"].apply(lambda x: x.strip(', '))
    list_address.remove('name')
    df_amenity.drop(columns=list_address, inplace=True)
    df_amenity.reset_index(inplace=True, drop=True)
    return df_amenity

#Function to update the dateframe with sub column selection
def subcolumn_selection(df, column_name,subcolumn_name):
    return df[df[column_name]in subcolumn_name]

#Function calculates the distance from the center
def distance_calculation(df,location,distance=2000):
    df['distance']= df.apply(lambda df: geodesic(location, (df.lat,df.lon)).m, axis=1)
    return df[df['distance']<distance].sort_values(by=["distance"]).reset_index(drop=True)

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame([['name','name']]).reset_index(inplace=True)

In [25]:
if __name__ == '__main__':
    address=input("please enter the address:")
    preference=input ('select yor interests ("shop", "office", "highway", "public_transport", "tourism", "amenity", "sport"):')
    location=get_location(address)
    # df=get_complete_data(location)
    df_cleaned=column_selection(location, preference)
    # subcolumn=input('select your sub interests:')
    # df_final=subcolumn_selection(df_cleaned, preference,subcolumn)

NameError: name 'get_location' is not defined

In [125]:
distance_calculation(df_cleaned,location,distance=2000)

,@id,shop,name,lat,lon,address,distance
0,1827091576,deli,Bols & Hansen Bio-Marmeladenmanufaktur,52.497271,13.381725,"Bols & Hansen Bio-Marmeladenmanufaktur,Obentra...",79.504927
1,7302343515,cheese,KAS – Kaesekurse,52.496871,13.382446,KAS – Kaesekurse,121.622397
2,2019395414,doityourself,Bär & Ollenroth KG,52.498072,13.380928,Bär & Ollenroth KG,123.842629
3,1651902719,florist,Blumen im U-Bhf Möckernbrücke,52.498624,13.382871,Blumen im U-Bhf Möckernbrücke,237.310241
4,2026821139,jewelry,Moritz Goldstein,52.496066,13.384137,Moritz Goldstein,256.517561
...,...,...,...,...,...,...,...
1029,831416217,tea,Tee Tea Thé,52.490287,13.353398,"Tee Tea Thé,Goltzstraße,2,Schöneberg,Berlin,10...",1995.582509
1030,1915578865,massage,Bodyworker,52.497554,13.351254,"Bodyworker,Nollendorfstraße,26,Schöneberg,Berl...",1998.327453
1031,1306551397,bicycle,Radwelt,52.511337,13.398343,"Radwelt,Leipziger Straße,56,Mitte,Berlin,10117...",1999.236390
1032,3826455895,interior,deco arts interiors,52.498992,13.351410,"deco arts interiors,Motzstraße,6,Schöneberg,Be...",1999.326025
1033,5080742001,beauty,Elly Nails,52.486686,13.356523,"Elly Nails,Hauptstraße,19,Schöneberg,Berlin,10...",1999.546185

In [ ]:
    def highlight_value_1(df):
        return ['background-color: green']*len(df) if df[preferences] else ['background-color: red']*len(df)

    st.dataframe(display_data.style.apply(highlight_value_1, axis=1))

In [146]:
#minute walking distance in km 
time_min_km = 7/60 
def time_needed(df): 
    return round((df['distance']/time_min_km),2)

In [132]:
api_key = '5b3ce3597851110001cf62482818c293528942238de6f690d9ec3b11'

In [133]:
import requests
from geopy.distance import geodesic

# you have to call this function with a mode.
def routing(mode,lat_start,lon_start,lat_end,lon_end,api_key):
    '''
    The function takes mode of transport as well coordinates for
    the start and end point of a routing request as input.
    The intermediate output is a geoJSON file, which subsequently
    '''
    # specify mode and base-url
    url = f'https://api.openrouteservice.org/v2/directions/{mode}'

    # specify the start and end coordinates
    ## start
    lat_start = lat_start
    lon_start = lon_start
    ## end
    lat_end = lat_end
    lon_end = lon_end


    # create params list for query
    params = {
        'api_key': api_key,
        'start': f'{lon_start},{lat_start}',
        'end': f'{lon_end},{lat_end}',
    }
    # make request
    result_geojson = requests.get(url,params=params)
    return result_geojson

In [134]:
def manhattan_distance_vectorized(df, start_lat, start_lon, end_lat, end_lon):
    """
    Calculate the Manhattan distance in km between two points on the earth (specified in decimal degrees).
    Vectorized version for pandas df
    """
    earth_radius = 6371
    
    lat_1_rad, lon_1_rad = np.radians(start_lat), np.radians(start_lon)
    lat_2_rad, lon_2_rad = np.radians(end_lat), np.radians(end_lon)
    
    dlon_rad = lon_2_rad - lon_1_rad
    dlat_rad = lat_2_rad - lat_1_rad
    
    manhattan_rad = np.abs(dlon_rad) + np.abs(dlat_rad)
    manhattan_km = manhattan_rad * earth_radius
    
    return manhattan_km

In [140]:
df_cleaned['start_lat'] = location[0]
df_cleaned['start_lon'] = location[1]

In [141]:
df_cleaned['distance'] = manhattan_distance_vectorized(df_cleaned, df_cleaned.start_lat, df_cleaned.start_lon, df_cleaned.lat, df_cleaned.lon)

In [147]:
df_cleaned['time'] = time_needed(df_cleaned)

In [148]:
df_cleaned

,@id,shop,name,lat,lon,address,distance,start_lat,start_lon,time
0,69226068,chemist,dm,52.510458,13.389643,"dm,Friedrichstraße,91, ,Berlin,10117.0",2.498239,52.496971,13.380663,21.41
1,253999816,supermarket,Öz-Gida,52.487314,13.357073,"Öz-Gida,Hauptstraße,16,Schöneberg,Berlin,10827...",3.696830,52.496971,13.380663,31.69
2,277681454,convenience,Bagdad Lebensmittel,52.499094,13.393187,Bagdad Lebensmittel,1.628729,52.496971,13.380663,13.96
3,277681463,hairdresser,Hairline,52.499814,13.392121,"Hairline, , , , , , ,+49 30 2518672",1.590244,52.496971,13.380663,13.63
4,277681828,travel_agency,Erbil,52.499488,13.390654,"Erbil,Mehringplatz,14, ,Berlin,10969.0",1.390849,52.496971,13.380663,11.92
...,...,...,...,...,...,...,...,...,...,...
1032,10131874507,bicycle,bikePARK Berlin,52.500149,13.391314,"bikePARK Berlin,Friedrichstraße,246, ,Berlin,1...",1.537804,52.496971,13.380663,13.18
1033,10137943217,hairdresser,Fade Station,52.506463,13.399641,"Fade Station,Oranienstraße,104, , ,10969.0",3.165720,52.496971,13.380663,27.13
1034,10142874192,convenience,Furkan Market,52.499593,13.408913,Furkan Market,3.432844,52.496971,13.380663,29.42
1035,10162590418,clothes,Little yoga store,52.490738,13.353034,"Little yoga store, , , , ,10781.0",3.765193,52.496971,13.380663,32.27
1036,10166488923,camera,UFO Filmgerät,52.492087,13.402465,UFO Filmgerät,2.967282,52.496971,13.380663,25.43

In [142]:
distance_1 =  manhattan_distance_vectorized(df_cleaned,df_cleaned.iloc[0].start_lat,df_cleaned.iloc[0].start_lon,df_cleaned.iloc[0].lat,df_cleaned.iloc[0].lon)

In [143]:
round((distance_1/time_min_km),2)

21.41

In [139]:
result = routing('foot-walking',location[0],location[1],df_cleaned.lat[0],df_cleaned.lon[1],api_key)

In [110]:
2004 /2784

0.7198275862068966

In [108]:
result.json()['features']

[{'bbox': [13.357071, 52.497256, 13.380769, 52.510453],
  'type': 'Feature',
  'properties': {'segments': [{'distance': 2784.0,
     'duration': 2004.4,
     'steps': [{'distance': 78.4,
       'duration': 56.5,
       'type': 11,
       'instruction': 'Head west on Obentrautstraße',
       'name': 'Obentrautstraße',
       'way_points': [0, 6]},
      {'distance': 119.3,
       'duration': 85.9,
       'type': 1,
       'instruction': 'Turn right',
       'name': '-',
       'way_points': [6, 9]},
      {'distance': 72.7,
       'duration': 52.4,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [9, 14]},
      {'distance': 10.0,
       'duration': 7.2,
       'type': 3,
       'instruction': 'Turn sharp right',
       'name': '-',
       'way_points': [14, 16]},
      {'distance': 36.7,
       'duration': 26.4,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [16, 19]},
      {'distance': 47.8,
       'duration': 34.4,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [19, 22]},
      {'distance': 160.5,
       'duration': 115.5,
       'type': 4,
       'instruction': 'Turn slight left onto Tempelhofer Ufer, B 96',
       'name': 'Tempelhofer Ufer, B 96',
       'way_points': [22, 29]},
      {'distance': 80.0,
       'duration': 57.6,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [29, 33]},
      {'distance': 254.5,
       'duration': 183.2,
       'type': 4,
       'instruction': 'Turn slight left onto Tempelhofer Ufer, B 96',
       'name': 'Tempelhofer Ufer, B 96',
       'way_points': [33, 43]},
      {'distance': 9.4,
       'duration': 6.8,
       'type': 1,
       'instruction': 'Turn right',
       'name': '-',
       'way_points': [43, 45]},
      {'distance': 149.9,
       'duration': 107.9,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [45, 51]},
      {'distance': 416.9,
       'duration': 300.1,
       'type': 1,
       'instruction': 'Turn right',
       'name': '-',
       'way_points': [51, 70]},
      {'distance': 11.8,
       'duration': 8.5,
       'type': 1,
       'instruction': 'Turn right',
       'name': '-',
       'way_points': [70, 72]},
      {'distance': 12.1,
       'duration': 8.7,
       'type': 12,
       'instruction': 'Keep left',
       'name': '-',
       'way_points': [72, 73]},
      {'distance': 28.9,
       'duration': 20.8,
       'type': 0,
       'instruction': 'Turn left onto Schöneberger Ufer',
       'name': 'Schöneberger Ufer',
       'way_points': [73, 75]},
      {'distance': 47.2,
       'duration': 34.0,
       'type': 3,
       'instruction': 'Turn sharp right',
       'name': '-',
       'way_points': [75, 79]},
      {'distance': 146.8,
       'duration': 105.7,
       'type': 2,
       'instruction': 'Turn sharp left',
       'name': '-',
       'way_points': [79, 82]},
      {'distance': 73.6,
       'duration': 53.0,
       'type': 1,
       'instruction': 'Turn right',
       'name': '-',
       'way_points': [82, 86]},
      {'distance': 123.1,
       'duration': 88.6,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [86, 89]},
      {'distance': 108.5,
       'duration': 78.1,
       'type': 1,
       'instruction': 'Turn right onto Hitzigallee',
       'name': 'Hitzigallee',
       'way_points': [89, 91]},
      {'distance': 83.1,
       'duration': 59.8,
       'type': 0,
       'instruction': 'Turn left onto Sigismundstraße',
       'name': 'Sigismundstraße',
       'way_points': [91, 93]},
      {'distance': 204.2,
       'duration': 147.0,
       'type': 1,
       'instruction': 'Turn right onto Stauffenbergstraße',
       'name': 'Stauffenbergstraße',
       'way_points': [93, 98]},
      {'distance': 247.8,
       'duration': 178.4,
       'type': 0,
       'instruction': 'Turn left',
       'name': '-',
       'way_points': [98, 101]},
      {'distance': 52.5,
       'duration': 37.8,
       'type': 13,
       'instruction': 'Keep right onto Große Sternallee',
       'name': 'Große Sternallee',
       'way_points': [101, 102]},
      {'distance': 208.3,
       'duration': 150.0,
       'type': 12,
       'instruction': 'Keep left',
       'name': '-',
       'way_points': [102, 106]},
      {'distance': 0.0,
       'duration': 0.0,
       'type': 10,
       'instruction': 'Arrive at your destination, straight ahead',
       'name': '-',
       'way_points': [106, 106]}]}],
   'summary': {'distance': 2784.0, 'duration': 2004.4},
   'way_points': [0, 106]},
  'geometry': {'coordinates': [[13.380769, 52.497256],
    [13.380452, 52.4973],
    [13.380033, 52.497355],
    [13.380011, 52.497358],
    [13.379841, 52.497381],
    [13.379703, 52.497396],
    [13.379635, 52.497399],
    [13.379755, 52.498085],
    [13.379774, 52.498385],
    [13.379793, 52.498467],
    [13.379572, 52.49849],
    [13.379339, 52.498495],
    [13.379127, 52.498506],
    [13.378803, 52.498498],
    [13.37873, 52.49848],
    [13.378789, 52.498541],
    [13.378805, 52.498557],
    [13.378781, 52.498563],
    [13.37897, 52.49876],
    [13.379043, 52.498834],
    [13.37889, 52.498897],
    [13.378676, 52.498984],
    [13.378615, 52.49914],
    [13.378463, 52.499211],
    [13.378217, 52.49935],
    [13.377985, 52.499512],
    [13.37778, 52.499672],
    [13.377633, 52.49981],
    [13.377462, 52.499987],
    [13.377236, 52.500292],
    [13.376996, 52.500292],
    [13.376973, 52.500327],
    [13.376772, 52.500637],
    [13.376886, 52.500827],
    [13.376727, 52.50107],
    [13.376631, 52.501187],
    [13.376247, 52.501533],
    [13.376167, 52.501606],
    [13.376061, 52.501666],
    [13.375561, 52.501961],
    [13.375123, 52.502218],
    [13.374754, 52.502435],
    [13.374589, 52.502531],
    [13.37452, 52.502571],
    [13.374553, 52.502588],
    [13.374628, 52.502623],
    [13.373926, 52.503034],
    [13.373767, 52.503164],
    [13.373655, 52.503256],
    [13.373351, 52.503537],
    [13.373245, 52.503509],
    [13.373138, 52.503478],
    [13.37307, 52.503585],
    [13.37294, 52.503727],
    [13.37272, 52.503968],
    [13.372647, 52.504048],
    [13.372518, 52.504144],
    [13.37244, 52.50421],
    [13.372049, 52.504456],
    [13.371831, 52.504572],
    [13.371567, 52.504691],
    [13.371549, 52.504698],
    [13.370655, 52.505109],
    [13.370511, 52.505168],
    [13.369786, 52.505443],
    [13.369564, 52.505518],
    [13.369465, 52.505546],
    [13.369133, 52.505636],
    [13.368853, 52.505676],
    [13.368642, 52.505667],
    [13.368471, 52.505622],
    [13.368444, 52.505667],
    [13.368418, 52.505723],
    [13.368362, 52.505826],
    [13.368087, 52.505821],
    [13.367935, 52.505823],
    [13.36797, 52.505879],
    [13.367983, 52.505905],
    [13.368142, 52.506208],
    [13.368153, 52.506227],
    [13.367608, 52.506225],
    [13.366739, 52.506228],
    [13.365985, 52.506208],
    [13.365981, 52.506249],
    [13.365953, 52.506468],
    [13.36609, 52.506724],
    [13.366163, 52.506849],
    [13.365987, 52.50688],
    [13.364513, 52.507142],
    [13.364417, 52.507158],
    [13.364821, 52.508008],
    [13.364861, 52.508096],
    [13.363789, 52.508281],
    [13.363681, 52.508299],
    [13.363704, 52.508353],
    [13.36427, 52.509635],
    [13.364386, 52.509898],
    [13.364387, 52.509992],
    [13.364362, 52.510078],
    [13.364098, 52.510129],
    [13.362918, 52.50995],
    [13.360751, 52.509996],
    [13.360116, 52.510268],
    [13.359728, 52.510236],
    [13.359258, 52.510239],
    [13.358477, 52.510294],
    [13.357071, 52.510453]],
   'type': 'LineString'}}]