In [33]:
import streamlit as st
import pandas as pd
import numpy as np
import csv

cities = pd.read_csv('data/worldcities.csv',header = 0)
st.write('hello ðŸ‘‹')

In [35]:
city_name = cities[['city', 'lng', 'lat']]
city_name.set_index('city')

                  lng      lat
city
Tokyo        139.7744  35.6839
Jakarta      106.8451  -6.2146
Delhi         77.2167  28.6667
Manila       120.9833  14.6000
SÃ£o Paulo    -46.6339 -23.5504
...               ...      ...
Tukchi       139.5000  57.3670
Numto         71.3333  63.6667
Nord         -17.8000  81.7166
Timmiarmiut  -42.2167  62.5333
Nordvik      111.5100  74.0165

[42905 rows x 2 columns]

In [48]:
city_name[city_name['city'].str.match('Tokyo')]['lng']

0    139.7744
Name: lng, dtype: float64